<a href="https://colab.research.google.com/github/El-awwal/demo/blob/main/Kamoli.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('fashion dataset.csv')

In [3]:
data.head()

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'..."
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm..."
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt..."
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo..."

In [4]:
data.describe()

               p_id         price   ratingCount   avg_rating
count  1.431100e+04  14310.000000   6581.000000  6581.000000
mean   1.569129e+07   2964.168484    184.479410     4.101226
std    3.153525e+06   2564.014851    782.501137     0.475633
min    7.016600e+04    169.000000      1.000000     1.000000
25%    1.413618e+07   1599.000000      9.000000     3.888889
50%    1.638217e+07   2200.000000     23.000000     4.180822
75%    1.808452e+07   3495.000000     80.000000     4.392857
max    1.941576e+07  47999.000000  21274.000000     5.000000

In [5]:
data = data.drop_duplicates()
data

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'..."
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm..."
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt..."
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo..."
...,...,...,...,...,...,...,...,...,...
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous..."
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot..."
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42..."
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42..."

In [6]:
data = data.dropna()
data = data.drop(data[['description','p_attributes']],axis=1)
data

,p_id,name,price,colour,brand,ratingCount,avg_rating
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467
...,...,...,...,...,...,...,...
14309,14173362.0,STREET 9 Black Puff Sleeves Blouson Crop Pleat...,1999.0,Black,STREET 9,106.0,4.273585
14312,17122946.0,Moda Rapido Women Blue Straight Fit High-Rise ...,2299.0,Blue,Moda Rapido,8.0,4.625000
14320,14235030.0,Indo Era Women Black Floral Printed Pure Cotto...,3499.0,Black,Indo Era,12.0,4.583333
14322,16835446.0,Allen Solly Woman Women Blue Skinny Fit Jeans,1999.0,Blue,Allen Solly Woman,49.0,4.346939
14323,16944668.0,Berrylush Women Pretty Pink Romantic Florals Top,1799.0,Pink,Berrylush,7.0,3.000000

In [7]:
data.columns = data.columns.str.title()
data

,P_Id,Name,Price,Colour,Brand,Ratingcount,Avg_Rating
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467
...,...,...,...,...,...,...,...
14309,14173362.0,STREET 9 Black Puff Sleeves Blouson Crop Pleat...,1999.0,Black,STREET 9,106.0,4.273585
14312,17122946.0,Moda Rapido Women Blue Straight Fit High-Rise ...,2299.0,Blue,Moda Rapido,8.0,4.625000
14320,14235030.0,Indo Era Women Black Floral Printed Pure Cotto...,3499.0,Black,Indo Era,12.0,4.583333
14322,16835446.0,Allen Solly Woman Women Blue Skinny Fit Jeans,1999.0,Blue,Allen Solly Woman,49.0,4.346939
14323,16944668.0,Berrylush Women Pretty Pink Romantic Florals Top,1799.0,Pink,Berrylush,7.0,3.000000

In [16]:
data.index = data['Brand']
data.sort_index()

,P_Id,Name,Price,Colour,Brand,Ratingcount,Avg_Rating
Brand,,,,,,,
20Dresses,11844068.0,20Dresses Women Blue Solid Batwing Sleeved Bas...,2395.0,Blue,20Dresses,7.0,4.714286
20Dresses,13611428.0,20Dresses Women Blue & Peach-Coloured Comfort ...,1995.0,Blue,20Dresses,9.0,4.333333
20Dresses,12290254.0,20Dresses Pink & White Floral Print Crop Top,1495.0,Pink,20Dresses,167.0,4.443114
20Dresses,15045314.0,20Dresses Women Maroon Flared High-Rise Parall...,1995.0,Maroon,20Dresses,4.0,5.000000
20Dresses,16642076.0,20Dresses Black Basic Jumpsuit,2995.0,Black,20Dresses,18.0,4.611111
...,...,...,...,...,...,...,...
trueBrowns,10335143.0,trueBrowns Women White Self Design Kurta with ...,2999.0,White,trueBrowns,109.0,4.311927
urSense,15576250.0,urSense Women Black Printed Embroidered Shrug,1499.0,Black,urSense,12.0,4.333333
urSense,16402022.0,urSense Women Black Geometric Tailored Jacket ...,2299.0,Black,urSense,3.0,4.000000
wild U,15639490.0,wild U Navy Blue Tulip Sleeves Plus Size Basic...,2990.0,Navy Blue,wild U,5.0,4.400000
zebu,12895196.0,zebu Women Grey Printed Pullover Sweater,1499.0,Grey,zebu,33.0,4.424242